$tablet-width: 768px;
$desktop-width: 1200px;

$text-color: #22343D;

$primary-color: #02897A;
$white-color: #FFFFFF;
$red-color: #F03E3D;
$blue-color: #4D8DFF;
$violet-color: #740A76;
$orange-color: #FF9900;