// Темная тема
body.dark-theme {
    color: $white-color;
    background-color: #1F2E35;
}

body.dark-theme a {
    color: $white-color;
}

body.dark-theme .nav {
    background-color: #1F2E35;
}

body.dark-theme .button-light {
    color: $white-color;
}

body.dark-theme .intro_video {
    color: $primary-color;
}

body.dark-theme .staff_text {
    color: $white-color;
}

body.dark-theme .staff_phrase {
    color: #2F281E;
}

body.dark-theme .card-news_item {
    color: $text-color;
}

body.dark-theme .card-news_body {
    color: $text-color;
}

body.dark-theme .card-news_link {
    color: $text-color;
    &-green {
        color: $primary-color;
    }
}

body.dark-theme .card-price:not(.card-price-green) {
    color: $text-color;
}

body.dark-theme .join_link {
    color: $text-color;
}

body.dark-theme .enterprise,
body.dark-theme .offer {
    background: $text-color;
}

body.dark-theme .advantage {
    background-color: $text-color;
}

body.dark-theme .promo_input {
    background-color: #1F2E35;
}

body.dark-theme .promo_input::-webkit-input-placeholder {
    color: $white-color;
}

body.dark-theme .promo_input::-moz-placeholder {
    color: $white-color;
}

body.dark-theme .promo_input:-ms-input-placeholder {
    color: $white-color;
}

body.dark-theme .contacts_text {
    color: $white-color;
}

body.dark-theme .message_fieldset {

    @media (min-width: $tablet-width) {
        background-color: $text-color;
        border-color: #464646;
    }

}

