// Темная тема
body.dark-theme {
    color: $white-color;
    background-color: #1F2E35;

    .logo_dakr-theme {
        display: block;
    }

    .logo {
        display: none;
    }

    .header_toggler-icon::before {
        background-color: $white-color;
        border-radius: 5px;
        box-shadow: 0 8px 0 0 $white-color, 0 16px 0 0 $white-color;
    }

    a {
        color: $white-color;
    }

    .nav {
        background-color: #1F2E35;
    }

    .button-light {
        color: $white-color;
    }

    .intro_video {
        color: $primary-color;
    }

    .staff_text {
        color: $white-color;
    }

    .staff_phrase {
        color: #2F281E;
    }

    .card-news_item {
        color: $text-color;
    }

    .card-news_body {
        color: $text-color;
    }

    .card-news_link {
        color: $text-color;

        &-green {
            color: $primary-color;
        }
    }

    .card-price:not(.card-price-green) {
        color: $text-color;
    }

    .join_link {
        color: $text-color;
    }

    .enterprise,
    .offer {
        background: $text-color;
    }

    .advantage {
        background-color: $text-color;
    }

    .promo_input {
        background-color: #1F2E35;
    }

    .promo_input::-webkit-input-placeholder {
        color: $white-color;
    }

    .promo_input::-moz-placeholder {
        color: $white-color;
    }

    .promo_input:-ms-input-placeholder {
        color: $white-color;
    }

    .contacts_text {
        color: $white-color;
    }

    .message_fieldset {

        @media (min-width: $tablet-width) {
            background-color: $text-color;
            border-color: #464646;
        }

    }

}