.question {
    margin-bottom: 100px;

    @media (min-width: $desktop-width) {
        margin-bottom: 150px;
    }
}

.question_list {
    @media (min-width: $tablet-width) {
        padding: 0 50px;
    }

    @media (min-width: $desktop-width) {
        padding: 0 100px;
    }
}

.question_title {
    margin-bottom: 15px;
    text-align: center;

    @media (min-width: $desktop-width) {
        margin-bottom: 10px;
        font-size: 34px;
        line-height: 51px;
    }
}

.question_text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    @media (min-width: $desktop-width) {
        margin-bottom: 50px;
    }
}